span{
	cursor: pointer;
}

.btn-default{
	font-size:25px;
	text-align: center;
	margin:5px;
	height: 100px;
	width: 100px;
}

#startbtn{
	margin-top: 30px;
	margin-bottom: 30px;
}


#cells{
	font-family:cursive;
	font-size:35px;
	margin-top:20px;
}


#score{
	font-size:30px;
}

#level{
	font-size:25px;
	text-align: center;
	height: 100px;
	width: 100px;
	margin-top:30px;
	margin-bottom: 30px;
}

#timer{
	font-size: 30px;
	letter-spacing: 0.1em;
	vertical-align: top;
	margin-left: 5px;
}

#myModalLabel{
	font-weight:bolder;
}

.modal-footer > button{
	width: 49%;
}

#imgIsaka{
	position: relative;
	top: 0px;
	left: 0px;
	opacity:0.5;
}

/* 点滅 */
.blinking{
	-webkit-animation:blink 0.2s ease-in-out infinite alternate;
    -moz-animation:blink 0.2s ease-in-out infinite alternate;
    animation:blink 0.2s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
