span{
	cursor:pointer;
}
#cells{
	font-family:;
	font-size:40px;
	margin-top:20px;
}
#score{
	font-size:30px;
}

#level{
	font-size:20px;
}

#timer{
	font-size: 25px;
	letter-spacing: 0.1em;
	vertical-align: top;
	margin-top:30px;
	margin-left: 5px;
}

#myModalLabel{
	font-weight:bolder;
}

.modal-footer > button{
	width: 49%;
}

/* 点滅 */
.blinking{
	-webkit-animation:blink 0.2s ease-in-out infinite alternate;
    -moz-animation:blink 0.2s ease-in-out infinite alternate;
    animation:blink 0.2s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
