<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- idは識別用のBeanの論理名, classはクラスの完全限定名 -->
  <bean id="connector" class="dao.OracleConnector"/>

  <bean id="judge" class="logic.RankJudge" >
     <property name="connector" ref="connector"/>
  </bean>
</beans>
