#myModalLabel{
	color:blue;
}

#start{
	margin-top: 30px;
	margin-bottom: 30px;
}

#timer{
	font-size: 25px;
	letter-spacing: 0.1em;
	vertical-align: top;
	margin-left: 5px;
}

#board{
	font-size:30px;
	margin-top:50px;
}

#score{
	font-size:30px;
}

.btn-default{
	font-size:25px;
	text-align: center;
	margin:5px;
	height: 100px;
	width: 100px;
}
