span{
	cursor:pointer;
}
#cells{
<<<<<<< HEAD
=======
	font-family:;
>>>>>>> f68ee9599a8cf188b351cd0465f38368047edc91
	font-size:40px;
	margin-top:20px;
}
#score{
	font-size:30px;
}

#level{
<<<<<<< HEAD
	margin-top:50px;
	font-size:25px;
=======
	font-size:20px;
>>>>>>> f68ee9599a8cf188b351cd0465f38368047edc91
}

#timer{
	font-size: 25px;
	letter-spacing: 0.1em;
	vertical-align: top;
	margin-top:30px;
	margin-left: 5px;
}

#myModalLabel{
	font-weight:bolder;
}
