span{
	cursor:pointer;
}
#cells{
	font-size:40px;
	margin-top:20px;
}
#score{
	font-size:30px;
}

#level{
	margin-top:50px;
	font-size:25px;
}

#timer{
	font-size: 25px;
	letter-spacing: 0.1em;
	vertical-align: top;
	margin-top:30px;
	margin-left: 5px;
}

#myModalLabel{
	font-weight:bolder;
}
