body{
	font-family: "‚l‚r –¾’©","MS Mincho";
	background-repeat: no-repeat;
	background-size:700px 300px;
	background-position: center 113%;
}

#results{
	
}

#omikujiResult{
	font-size:30px;
}

#hopeResult{
	font-size:30px;
}

#loveResult{
	font-size:30px;
}

#studyResult{
	font-size:30px;
}

#imgOmikuji{
	width:150px;
	margin-bottom:20px;
	cursor:pointer;
}