* {
	font-family: "‚l‚r –¾’©","MS Mincho";
}

#getOmikuji{
	margin-bottom:20px;
}

#omikujiResult{
	font-size:30px;
}

#hopeResult{
	font-size:30px;
}

#loveResult{
	font-size:30px;
}

#studyResult{
	font-size:30px;
}